.pycache/
__pycache__/
.vscode/
.idea/
.pytest_cache/
.pytest_cache/
.venv/
.env
*.env
*.jpg*
*.png*
# Model outputs
whisper-small-finetuned/


# HuggingFace cache
hf_cache/

# Data folders
data/
asr/
outputs/
scripts/
