.pycache/
__pycache__/
.vscode/
.idea/
.pytest_cache/
.pytest_cache/
.venv/
.env
*.env
*.jpg*
*.png*
# Model outputs
whisper-small-finetuned/
model_*.pt
*.pt

# HuggingFace cache
hf_cache/

# Data folders
data/
outputs/
scripts/
